.btn-whats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5%;
    position: fixed;
    bottom: 3rem;
    left: 2rem;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 1rem;
    background-color: rgb(21, 255, 0);
}

.btn-whats:hover{
    scale: 115%;
}

.btn-whats a{
    width: 100%;
    text-align: center;
}

.btn-whats img{
    width: 70%;
}

@media screen and (max-width: 1200px) {
    .btn-whats{
        display: none;
    }
    
}



