@font-face {
    font-family: tommy;
    src: url('../../font/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf');
}

header {
    background-color: #24252a;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    width: 20%;
}

.logo h1 img {
    width: 50%;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.icon-link{
    transition: 0.5s;
}

.icon-link:hover{
    scale: 110%;
}

.nav-link {
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.4rem;
    font-family: tommy;
    color: #fff;
}
.nav-link:hover{
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #24252a;
}

.login-button{
    display: flex;
    justify-content: space-between;
    width: 7%;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.icon-link{
    width: 100%;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

