@font-face {
    font-family: tommy;
    src: url('../../font/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf');
}

.formulario{
    margin: 6rem 0;
}

.formulario form{
    width: 30%;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: #d9d9d9;
}

.formulario form h2{
    font-size: 30px;
    font-family: tommy;
}

input{
    padding: 0.5rem;
    width: 80%;
    margin-top: 3rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px -1px 8px black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder{
    text-align: center;
}

.formulario button{
    width: 50%;
    padding: 1rem;
    margin-top: 3rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    font-size: 25px;
    font-family: tommy;
    background-color: #3A393C;
    color: #fff;
}

.formulario button:hover{
    scale: 110%;
    background-color: #575657;
}