.footer{
    padding: 2.5rem;
    background-color: #24252A;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    color: #fff;
}

.footer-contato, .footer-link{
    text-align: center;
    line-height: 3rem;
    width: 50%;
}

.footer-contato, .footer-link h3{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-contato p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.icons-link-container{
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
    width: 50%;
}

.icon-links{
    width: 50%;
    transition: 0.3s;
}

.icon-links:hover{
    scale: 110%;
}

.subtitle-footer{
    text-align: center;
    font-size: 30px;
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
}
