@media screen and (max-width: 1100px) {
    .footer{
        padding: 2rem 0;
    }

    .footer-container{
        display: inline-block;
        width: 100%;
    }

    .footer-contato, .footer-link{
        margin: auto;
        width: 90%;
        line-height: 5rem;
    }

    .footer-link h3, .footer-contato h3{
        font-size: 25px;
    }

    .footer-contato p{
        font-size: 20px;
    }


    
}