@media screen and (max-width: 1400px){
    .lista-servicos{
        margin: 3rem auto;
        text-align: center;
    }

    .lista-servicos h1{
        font-size: 25px;
    }
    
    .lista-box{
        display: inline-block;
        width: 80%;
        padding: 2rem 2rem;
        text-align: center;
    }

    .lista-box ul{
        font-size: 20px;
    }
}

@media (min-width: 800px) and (max-width: 1400px){
    .lista-servicos{
        text-align: center;
    }
    
    .lista-box{
        display: inline-block;
        padding: 2rem 2rem;
    }

    span{
        width: 90%;
    }
}

@media screen and (min-width: 1401px) {
    #division{
        display: none;
    }
}