@font-face {
    font-family: tommy;
    src: url('../../font/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf');
}

.lista-servicos{
    margin: 10rem auto;
}

.lista-servicos h1{
    text-align: center;
    font-family: tommy;
    font-size: 25px;
}

.lista-box{
    display: flex;
    justify-content: space-around;
    width: 75%;
    padding: 2rem 0;
    margin: 3rem auto;
    text-align: justify;
    border-radius: 1rem;
    background-color: #c7c7c7;
}

.lista-box ul{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #000000;
}

span{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto;
    border: 0.1rem solid #000000;
}