@font-face {
    font-family: tommy;
    src: url('../../font/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf');
}

.contato-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}

.dados-endereco{
    width: 40%;
    margin: 6rem auto;
    line-height: 3rem;
}

.dados-endereco h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #000000;
}

.dados-endereco p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}



.formulario-contato{
    margin: 6rem auto;
    width: 40%;
}

.formulario-contato form{
    width: 100%;
    margin: auto;
    padding: 3rem 1rem;
    border-radius: 1rem;
    text-align: center;
    background-color: #d9d9d9;
}

.formulario-contato form h2{
    font-size: 25px;
    font-family: tommy;
}

.formulario-contato input{
    padding: 0.5rem;
    width: 90%;
    margin-top: 3rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px -1px 8px black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder{
    text-align: center;
}

.formulario-contato button{
    width: 50%;
    padding: 1rem;
    margin-top: 3rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    font-family: tommy;
    background-color: #3A393C;
    color: #fff;
}

.formulario-contato button:hover{
    scale: 110%;
    background-color: #575657;
}