@font-face {
    font-family: tommy;
    src: url('../../font/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf');
}

.servicos h1{
    text-align: center;
    font-family: tommy;
    font-size: 35px;
}

.servicos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.servicos-card{
    width: 45%;
    margin-top: 5rem;
}

.img-servico{
    width: 100%;
}

.txt-servicos h2{
    text-align: center;
    font-size: 30px;
    margin-top: 2rem;
    font-family: tommy;
}

.txt-servicos h3{
    width: 75%;
    margin: auto;
    text-align: center;
    font-size: 25px;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.button-box{
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.button-box button{
    width: 30%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    cursor: pointer;
    font-size: 25px;
    font-family: tommy;
    background-color: #24252A;
    color: #fff;
}

.button-box button:hover{
    scale: 110%;
}