@font-face {
    font-family: tommy;
    src: url('../../font/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf');
}

.nosso-espaco h1{
    text-align: center;
    font-family: tommy;
    font-size: 35px;
}

.apresentacao{
    width: 50%;
    height: 600px;
    margin: 2rem auto;
    margin-bottom: 15rem;
    text-align: center;
    line-height: 35rem;
    background-color: aqua;
    font-size: 35px;
}

@media screen and (max-width: 800px) {
    .apresentacao{
        width: 90%;
    }

    .nosso-espaco h1{
        font-size: 25px;
    }
}