*{
    scroll-behavior: smooth;
}

.btn-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1%;
    position: fixed;
    bottom: 1rem;
    right: 2.2rem;
    height: 4rem;   
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    background-color: #6dc7f0;
}

.btn-top:hover{
    scale: 110%;
    background-color: #6dc7f0;
}

.arrow{
    border: solid #000000;
    border-width: 0 4px 4px 0;
    padding: 1rem;
    margin-top: 0.7rem;
    display: inline-block;
}

.up{
    transform: rotate(-135deg);
}

@media screen and (max-width: 999px) {
    .btn-top, .arrow{
        display: none;
    }
}

@media (min-width: 1000px) and (max-width: 2500px) {
    .btn-top{
        width: 5%;
    }
}

