@font-face {
    font-family: tommy;
    src: url('../../font/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf');
}

.sobre{
    width: 80%;
    margin: 3rem auto;
    text-align: center;
}

.sobre h1{
    font-size: 35px;
    font-family: tommy;
}

.sobre-container{
    width: 85%;
    margin: auto;
    padding: 2rem;
    line-height: 2.5rem;
}

.sobre p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px) {
    .sobre{
        width: 100%;
    }

    .sobre p{
        text-align: justify;
    }
}